body,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: rgb(133, 76, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  max-height: 64px;
  padding: 0px calc(100vw / 12 * 1);
}

header img{
  width: 64px;
}

main{
  color: #000000;
  padding: 2rem calc(100vw  / 12 * 1);
}

form{
  max-width: 200px;
}

form > * {
  display: block;
  margin-bottom: 0.75rem;
}

#reset-password-modal{
  border: 1px solid #323232;
  border-radius: 4px;
  color: #000000;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#reset-password-modal-content{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

#reset-password-modal-content .fa::before {
  position: absolute;
  right: 1rem;
  top: 1rem; 
}

#reset-password-modal-content button {
  max-width: 100px;
}